@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Montserrat-SemiBold-subset.woff2") format("woff2");
  unicode-range: U+0020, U+0042-0043, U+0049, U+004B, U+004F, U+0053-0055,
    U+0061-0063, U+0065, U+0067, U+006A, U+0072, U+0074;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Montserrat-Bold-subset.woff2") format("woff2");
  unicode-range: U+0020, U+0042-0043, U+0049, U+004B, U+004F, U+0053-0055,
    U+0061-0063, U+0065, U+0067, U+006A, U+0072, U+0074;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#preload {
  display: none;
}

#loader-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
